.App {
  margin: auto;
  width: 90%;
}

.postButton, .cancelButton {
  width: 8em;
  background-color: goldenrod;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin-right: 4em;
}

.addPost, .postsTitle {
  font-size: 2em;
  font-weight: bold;
  color: goldenrod;
}

.title, .body {
  font-size: 1em;
  font-weight: bold;
  color: rgb(146, 119, 39);
}

.contentTitle {
  text-transform: capitalize; 
  font-weight: bold;
  color: rgb(146, 119, 39);
}

.blogTitle {
  width: 600px;
  height: 30px;
  font-size: 1em;
  color: black;
}

.blogBody {
  width: 600px;
  height: 100px;
  font-size: 1em;
  color: black;
}
